.logo {
    display: block;
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--accent-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;

    &--start{
    @media screen and (min-width: 481px) and (max-width: 1199px) {
    margin-right: 87px;    
    }
    }
    @media screen and (min-width: 1200px) {
    margin-right: 93px;
    text-align: left;    
    }

    &__dark {
    color: var(--logo-txt-cl);
    }

    &__light {
    color: var(--white-txt-cl);
    }

    &__end {
    margin-bottom: 20px;
    text-align: center;
    }  
}