.projects {
    padding: 60px 0;

    @media screen and (min-width: 1200px){
    padding: 94px 0;
    }
    
    &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 15px;
    margin-bottom: 30px;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    }
    }
}